.imgPerson {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.imgSecondPerson {
    left: -30px;
    position: relative;
    margin-Right: -30px;
}

.media {
    @include until($tablet) {
        flex-direction: column;
    }  
}